:root {
  --fs-100: 0.625rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-700: 1.5rem;
  --fs-900: 1.885rem;

  --br-100: 16px;
  --br-300: 24px;
  --br-600: 100px;

  --clr-neutral-900: #1a212c;
  --clr-neutral-700: #444e5d;
  --clr-neutral-500: #798291;
  --clr-neutral-300: #d3d8e1;
  --clr-neutral-100: #fff;

  --clr-bg: #e5e5e5;
  --clr-primary-100: #4c00c2;
  --clr-primary-300: #32007e;
  --clr-primary-500: #3b058e;

  --clr-accent: #01c9c7;

  --clr-success: #19ac51;
  --clr-danger: #fc484c;
}
